body {                                  
    display: flex;                          /*Add flex container around whole page*/
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
    color: #F9FAF8;
}

.nav-bar ul {
    display: flex;                          /*Add flex container to links*/
    gap: 30px;
    list-style-type: none;
}

.main-body-banner {
    padding: 100px;
    background-color: #1f2937;
    color: #f9faf8;
}

.main-body-banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-body-banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 30px;
}

.main-body-banner-image {
    padding: 100px;
}

.main-body-info {
    padding: 100px;
}

.info-container {
    display: flex;                          /*Add flex container to info cards*/
    justify-content: center;
    gap: 50px;
}

.main-body-quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 300px;
    background-color: #e5e7eb;
}

.main-body-sign-up {
    display: flex;
    justify-content: center;
}

.sign-up-container {
    display: flex;
    margin: 50px 200px;
    background-color: #3882f6;
    padding: 10px 400px;
    align-items: center;
}

.sign-up-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;                
}

/*Might need to create div for sign up button at the bottom*/

.footer {
    padding: 30px;
    background-color: #1f2937;
    color: #f9faf8;
}